/* Desktop first design */


@media screen and (max-width: 800px) {
  .topnav {
    margin:5%;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px 0;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
    font-weight: bold;
  }

  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: #f00;
  }

  .topnav a.icon:hover {
    background-color: #f00;
    color: #fff;

  }
  
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }
}