/* Desktop first max-width large to small sizes */

@media screen and (max-width: 800px) {
  main {
    margin:0 15px;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 0;
    min-width: 100%;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-size: 2.5rem;
    white-space: normal;
  }

  .hero-text {
    width: unset;
    font-size: 0.8rem;
    margin-top: 20px;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin: 10px 0;
    font-size:0.8rem;
    text-align: center;
  }

  .topnav {
    margin: 30px 20px 20px 20px;
  }

  .header-logo img {
    width:50%;
  }

  label, .text-label { 
    font-size: 12px
  }

  .checkbox-label, .checkbox2-label {
    margin-left: 28px;
  }
  .checkbox-label .checkbox-icon, .checkbox2-label .checkbox-icon {
    left: -25px;
  }
  .btn-submit, .btn-signup {
    padding: 12px 32px;
  }
}

@media screen and (max-width: 768px) {

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent; 
  }

  .topnav .icon:hover {
    background-color: transparent; 
    color: #f00; 
    border-radius: 0px;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .content {
    margin-top:80px;
    border-radius: 8px 8px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
    color: #f00;
  }

  .bground {
    background-color: transparent;
  }

  footer {
    display: none;
  }
}